@layer module {

    .page {
        background: #0B141A url(assets/circuit-board.svg);
        position: fixed;
        inset: 0;
    }

    .indent {
        margin: 0 auto;
        max-width: 1040px;
        padding: 0 20px;
    }

    .top-bar {
        flex: 1;
    }

    .bottom-bar {
        background-color: #2C2C2C;
        border-top: 1px solid #262626;
    }

    .chat-bar {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .chat-stack {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .flex1 {
        flex: 1;
    }

    .input {
        width: 100%;
        outline: none;
        background-color: #454545;
        border: 1px solid #262626;
        border-radius: 5px;
        padding: .25em .5em;
        color: var(--color-fg);

        &:focus {
            outline: 2px solid #2463EB;
        }
    }

    .image-button {
        height: 32px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: clip;
        aspect-ratio: 1;
        outline: none;
    }
}
