@layer normalize, base, module;

@layer base {
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    :root {
        --color-bg: #202020;
        --color-fg: #fff;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --color-bg: #fff;
            --color-fg: #111;
        }
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-fg);
        font-family: system-ui, sans-serif;
    }
}
