@import "normalize.css" layer(normalize);

@layer normalize, base, module;

@layer base {
    /*html {*/
    /* */
    /*}*/
    /**, *:before, *:after {*/
    /*    !* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ *!*/
    /*    box-sizing: inherit;*/
    /*}*/
    * {
        box-sizing: border-box;
        /* fix flex-box */
        min-width: 0;
        /* fix overflowing <select>s */
        max-width: 100%;
    }

    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        --p-margin: 0.85em;
        --code-bg-color: #1E1E1E;
    }

    code, kbd, samp {
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    }

    td, th {
        border: 1px solid rgba(255,255,255,.5);
        padding: .1em .4em;
    }

    table {
        border-collapse: collapse;
    }

    @scope (tbody) to (table) {
        th {
            text-align: left;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        margin: 1em 0 .5em 0;
    }

    a {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
        cursor: pointer;
        &:hover {
            color: #535bf2;
        }
    }

    blockquote {
        margin: 0;
        margin-left: .333rem;
        border-left: .25rem solid rgba(255,255,255,0.5);
        padding: .25em .333em;
    }

    p, blockquote, pre, table {
        margin-block: 0;
        &:not(:first-child) {
            margin-top: var(--p-margin);
        }
        &:not(:last-child) {
            margin-bottom: var(--p-margin);
        }
    }

    code, pre {
        overflow-wrap: anywhere;
        white-space: break-spaces;
    }

    button {
        cursor: pointer;
    }

    /*@media (prefers-color-scheme: light) {*/
    /*    :root {*/
    /*        color: #213547;*/
    /*        background-color: #ffffff;*/
    /*    }*/
    /*    a:hover {*/
    /*        color: #747bff;*/
    /*    }*/
    /*    button {*/
    /*        background-color: #f9f9f9;*/
    /*    }*/
    /*}*/
}
